[Unit]
Description=Zookeeper Server
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/local/zookeeper/bin/zkServer.sh start
ExecStop=/usr/local/zookeeper/bin/zkServer.sh stop
ExecReload=/usr/local/zookeeper/bin/zkServer.sh restart
PIDFile=/data/zookeeper/zookeeper_server.pid

[Install]
WantedBy=multi-user.target
